<p>Faves lists that include this title:</p>
<% @users.each do |user| %>
  <% user.readings.each do |reading| %>
    <% reading.find_by :book_id => @book %>
      <% if @book.present? %>
        <%= reading.user.username %>
        <% user.readings.each do |reading| %>
          <% if reading.stars == "****" || reading.stars == "*****" %>
            <%= reading.book.title %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>

<% @users.each do |user| %>
  <% if @book_user.present? %>
    <%= user.username %>
    <% user.readings.each do |reading| %>
      <% if reading.stars == "****" || reading.stars == "*****" %>
        <%= reading.book.title %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
