<h1><%= @book.title %></h1>

<p>Faves lists that include this title:</p>
<% @other_lovers.each do |lover| %>
  <p>User: <strong><%= lover.username %></strong></p>
  <% lover.readings.each do |reading| %>
    <% if reading.stars == "****" || reading.stars == "*****" %>
      <%= reading.book.title %>
    <% end %>
  <% end %>
<% end %>
