<div class="form-page">


  <h1>Edit account</h1>

  <%= render :partial => 'form' %>

  <div class="delete-account">
    <p>Or, want to delete your account altogether?</p>
    <div><%= link_to "Delete account", user_path, :method => 'delete', :class => 'btn__deleteAccount button', :data => {:confirm => 'Are you sure'} %></div>
    <p>We're sorry to see you go.</p>
  </div>

</div>
