<h1>book pinch</h1>
<% if @current_user.present? %>
  <p>Welcome back <%= @current_user.username %></p>
  <p>Books you're tracking:</p>
  <% @current_user.readings.each do |reading| %>
    <ul>
      <li><%= link_to reading.book.title, edit_book_reading_path(reading.book.id, reading) %></li>
    </ul>
  <% end %>
<% end %>
