// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  border: 1px solid orange;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: black;
  height: 100vh;
  display: flex;
}

.side-panel {
  width: 23%;
  height: 100vh;
  background-color: rgba(230,18,39,0.85);
  color: white;
  font-family: monospace;
  padding: 15px;
  font-size: 22px;
}

.major-panel {
  width: 79%;
  height: 100vh;
  background-color: rgba(199,142,142,0.8);
  color: black;
  padding: 15px;
}

.container {
  max-width: 900px;
  margin: 0;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

nav a {
  font: Monospace;
  text-align: right;
  display: block;
}

h1 {
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1.home {
  text-align: right;
}

h2.user-home {
  margin-bottom: 0px;
}

hr {
border: 0;
clear:both;
display:block;
width: 100%;
background-color:black;
height: 2px;
}

.welcome p {
  text-align: right;
  font-size: 16px;
}

.user-gallery {
  display: inline-block;
}

.thumb-box {
  max-height: 200px;
  // margin: 5px;
  display: inline-block;
  vertical-align: top;
  // position: relative;
}

.thumb {
  max-height: 15em;
  display: inline-block;
  // position: absolute;
}

.baby-thumb {
  max-height: 10em;
  display: inline-block;
}

.empty-thumb {
  height: 200px;
  width: 136px;
  // border: 2px solid black;
  display: inline-block;
  postion: relative;
}

.empty-thumb div {
  position: absolute;
  z-index: 99;
  word-break: normal;
  word-wrap: normal;
  text-align: center;
  height: 200px;
  width: 136px;
}

.baby, .baby div {
  height: 130px;
  width: 88px;
}

.empty-thumb-title p {
  margin-top: 60px;
  font-family: sans-serif;
}

.empty-thumb .img {
  z-index: -1;
  position: absolute;
}

.left, .right {
  padding: 12px;
}

.user-gallery .right {
  max-width: 170px;
}

a {
  text-decoration: none;
  color: inherit;
}

.controls, .admin-controls {
  margin-top: 20px;
}
.controls a, .admin-controls a {
  padding: 5px 10px;
  border: 2px solid black;
}

.details h3 {
  margin-top: 0px;
}
