h1.home {
  text-align: right;
}

h2.user-home {
  margin-bottom: 0px;
}

hr {
border: 0;
clear:both;
display:block;
width: 100%;
background-color:black;
height: 2px;
}

.welcome p {
  text-align: right;
  font-size: 16px;
}

.gallery-box {
  display: inline-block;
}

.gallery-box .right {
  max-width: 170px;
}

.baby-thumb {
  max-height: 130px;
}

.empty-thumb-baby {
  height: 130px;
  width: 88px;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.home-msg {
  margin: 100px 100px;
  width: 620px;
  position: relative;
}

.sign-up-msg {
  position: absolute;
  right: 0;
  border: 2px solid black;
  padding: 2px 5px;
}

.notice {
  position: absolute;
  right: 0;
  color: #3f51b5;
  bottom: -60px;
  font-size: 14px;
}

.delete {
  margin-left: 150px;
  background-color: white;
  width: 85.5px;
  padding: 10px;
  text-align: center;
  border: 2px black solid;
}
