
h2.user-home {
  margin-bottom: 0px;
}

hr {
border: 0;
clear:both;
display:block;
width: 100%;
background-color:black;
height: 1px;
}

.welcome p {
  text-align: right;
  font-size: 16px;
}

.gallery-div {
  display: flex;
  flex-wrap: wrap;
}

.gallery-box .right {
  max-width: 145px;
}

.baby-thumb {
  max-height: 130px;
}

.empty-thumb-baby {
  border: 1px solid black;
  height: 130px;
  width: 88px;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.home-msg {
  margin: 100px 0;
  max-width: 620px;
  position: relative;
}

.sign-up-msg {
  position: absolute;
  right: 0;
  border: 2px solid black;
  padding: 2px 5px;
}

.delete {
  margin-left: 150px;
  background-color: white;
  width: 85.5px;
  padding: 10px;
  text-align: center;
  border: 2px black solid;
}
