// * {
//   border: 1px solid purple;
// }

// // Variables
// $brand-color: maroon;
// $centered: 0 auto;
//
// //Mixins (like functions)
// @mixin greyItalic {
//   color:grey;
//   font-style:italic;
// }
$side-panel: rgba(230,18,39,0.85);
$major-panel: rgba(255,132,0,0.25);
$jazz-colour: #3f51b5;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: black;
  min-height: 100vh;

}

.container {
  display: flex;
  min-height: 100vh;
}

.side-panel {
  width: 23%;
  min-height: 100%;
  background-color: $side-panel;
  color: white;
  font-family: monospace;
  padding: 15px;
  font-size: 22px;
  flex-grow: 1;
}

.major-panel {
  width: 78%;
  min-height: 100%;
  background-color: $major-panel;
  color: black;
  padding: 15px;
  flex-grow: 1;
}

.jazz-colour {
  color: $jazz-colour;
}

.controls .jazz-colour a {
  border: 2px solid $jazz-colour;
}

.main {
  max-width: 870px;
  margin: 0;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

nav a {
  font: Monospace;
  text-align: right;
  display: block;
}

h1 {
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 10px;
  // text-align: right;
  padding-left: 150px;
}

h2 {
  margin-top: 0;
}

.gallery-box {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.thumb {
  max-height: 151px;
}

.empty-thumb {
  height: 151px;
  width: 98px;
  display: inline-block;
  postion: relative;
}

.empty-thumb-title {
  position: absolute;
  z-index: 99;
  word-break: normal;
  word-wrap: normal;
  text-align: center;
  height: inherit;
  width: inherit;
}

.empty-thumb-title p {
  margin-top: 20px;
  font-family: sans-serif;
  padding: 3px;
}

p.smaller {
  font-size: 13px;
}

.empty-thumb .img {
  z-index: -1;
  position: absolute;
}

.left, .right {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.controls {
  margin-top: 20px;
}
.controls a {
  padding: 5px 10px;
  border: 2px solid black;
}

.controls div {
  margin-bottom: 20px;
}

.details p {
  margin-top: 0px;
  margin-bottom: 10px;
}

form {
  padding-left: 150px;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 50px;
}

label, input, check-box, select {
  margin-bottom: 10px;
}

input {
  width: 350px;
}


.button, button {
  margin-top: 10px;
  font-size: 16px;
  color: crimson;
  padding: 3px;
  // border-radius: 50%;
  border: 2px solid crimson;
  // background-color: $side-panel;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

button {
  color: black;
  border: 2px solid black;
}

.notice {
  position: absolute;
  right: 0;
  color: #3f51b5;
  bottom: -60px;
  font-size: 14px;
}

.stop-right-there {
  color: #3f51b5;
  font-size: 14px;
  font-weight: bold;
}
