// * {
//   border: 1px solid purple;
// }

// // Variables
// $brand-color: maroon;
// $centered: 0 auto;
//
// //Mixins (like functions)
// @mixin greyItalic {
//   color:grey;
//   font-style:italic;
// }

/* VARIABLES */
$side-panel: rgba(230,18,39,0.85);
$major-panel: rgba(255,132,0,0.25);
$jazz-colour: #3f51b5;

.jazz-colour {
  color: $jazz-colour;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: black;
  min-height: 100vh;

}

.container {
  display: flex;
  min-height: 100vh;
}

.side-panel {
  width: 18%;
  min-height: 100%;
  background-color: $side-panel;
  color: white;
  font-family: monospace;
  padding: 15px;
  font-size: 21px;
  flex-grow: 1;
}

.major-panel {
  width: 78%;
  min-height: 100%;
  background-color: $major-panel;
  color: black;
  padding: 15px;
  flex-grow: 1;
}



.main {
  max-width: 870px;
  margin: 0;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

nav a {
  font: Monospace;
  text-align: right;
  display: block;
}

h1 {
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BOOKS GALLERIES */
.gallery-box {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}

.thumb {
  max-height: 151px;
}

.empty-thumb {
  height: 151px;
  width: 98px;
  display: inline-block;
  postion: relative;
}

.empty-thumb-title {
  position: absolute;
  z-index: 99;
  word-break: normal;
  word-wrap: normal;
  text-align: center;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.empty-thumb-title p {
  margin-top: 10px;
  font-family: sans-serif;
  padding: 3px;
  font-size: 14px;
}

p.smaller {
  font-size: 12px;
}

.empty-thumb .img {
  z-index: -1;
  position: absolute;
}

/* DIV WITH IMAGE LEFT, CONTENT RIGHT */
.left, .right {
  padding: 5px;
}

/* CONTROLS */

.controls a {
  padding: 3px 5px;
  border: 2px solid black;
  margin-right: 6px;
}

.controls div {
  margin-top: 14px;
}

.controls .jazz-colour a {
  border: 2px solid $jazz-colour;
}

/* USER GALLERY FAVES - BOOK DEETS */
.details p {
  margin-top: 0px;
  margin-bottom: 5px;
}

/* FORMS */
.form-page {
  margin: 0 auto;
  text-align: center;
}

form {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 50px;
}

label, input, check-box, select {
  margin-bottom: 18px;
}

input {
  min-width: 300px;
}

.button, button {
  margin-top: 10px;
  font-size: 16px;
  color: crimson;
  padding: 3px;
  border: 2px solid crimson;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.check-box {
  width: 18px;
}

/* FLASH NOTICES */
.notice {
  text-align: right;
  color: #3db36e;
  font-size: 16px;
}

.stop-right-there {
  color: #3f51b5;
  font-size: 14px;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (max-width:730px){ /*when nav starts flowing over lines */
	.side-panel {
		font-size: 10px;
    padding: 15px 5px;
	}
}

@media only screen and (max-width:450px){ /*when book index books can't fit 3 to row */
  .thumb {
    max-height: 108px;
  }
  .empty-thumb {
    width: 72px;
    height: 108px;
  }
  .baby-thumb {
    max-height: 108px;
  }
  .empty-thumb-baby {
    width: 72px;
    height: 108px;
  }
}

@media only screen and (max-width:500px){
  input {
    min-width: 235px;
  }
}
